<div class="container">
  <div class="card card-container">
    <div *ngIf="this.tfa.secret">

      <h5 style="border-bottom: 1px solid #a8a8a8; padding-bottom: 5px;">Current Settings</h5>

      <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">

      <p>Secret Key - {{tfa.secret || tfa.tempSecret}}</p>

      <p>Auth Type - Time Based - OTP</p>

      <button class="btn btn-lg btn-danger btn-block btn-signin" (click)="disabledTfa()">Disable TFA</button>

      <div class="card card-container">
          <h2>User data:</h2>
        <ul>
          <li>User Name: {{userName}}</li>
        <li>User Password: {{userPass}}</li>
        </ul>

        <h2>Technologies used:</h2>
        <ul>
          <li>Angular</li>
          <li>Node</li>
          <li>bootstrap</li>
        </ul>
        <h2>References:</h2>
        <ul>
          <li><a href="https://hackernoon.com/create-an-angular-7-google-authenticator-node-js-web-app-with-two-factor-authentication-95e87af9356b">hackernoon.com</a></li>
          <li><a href="https://school.geekwall.in/p/HJWr08NcE/angular-7-google-authenticator-node-js-with-two-factor-authentication">school.geekwall.in --> (I would not have been able to do this test without this link...)</a></li>
        </ul>
        <h2>Github:</h2>
        <ul>
          <li><a href="https://github.com/RafaCarva/sensidia-back-end">sensidia-back-end</a></li>
          <li><a href="https://github.com/RafaCarva/sensidia-front-end">sensidia-front-end</a></li>
        </ul>
      </div>
    </div>
    <div *ngIf="!tfa.secret">

      <h5 style="border-bottom: 1px solid #a8a8a8; padding-bottom: 5px;">Setup TFA</h5>

      <span *ngIf="!!tfa.tempSecret">

        <p>Scan the QR code or enter the secret key in Google Authenticator</p>

        <img [src]="tfa.dataURL" alt="" class="img-thumbnail" style="display:block;margin:auto">

        <p>Secret Key - {{tfa.tempSecret}}</p>

        <p>Auth Type - Time Based - OTP</p>

        <form class="form-group" (ngSubmit)="confirm()" #otpForm="ngForm">
          <input name="authcode" type="number" #iauthcode="ngModel" class="form-control" maxlength="6"
            placeholder="Enter the Auth Code" id="authcode" autocomplete="off" [(ngModel)]="authcode" required>
          <br>
          <button type="Submit" class="btn btn-lg btn-primary btn-block btn-signin"
            [disabled]="iauthcode?.errors?.required">Enable TFA</button>
        </form>
        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
      </span>
    </div>
  </div>

</div>
